.bar {
	height: 10px;

	&.bar-0 {
		background-color: red;
	}

	&.bar-1 {
		background-color: yellow;
	}

	&.bar-2 {
		background-color: green;
	}
}

.handle {
	height: 15px;
	width: 10px;
	background-color: blue;

	.tipHandle {
		width: 100%;
		height: 100%;
	}
}
